{% extends 'admin/layout.html' %}
{% block content %}
<div class="w-100">
    <h2 class="text-right mb-4 text-dark">Main</h2>

    <div class="card rounded">
        <div class="card-body">
            <h3 class="text-dark text-center">Statistics</h3>
            <hr>
            <div class="row">
                <div class="col-md mb-3">
                    <img src="{{ url_for('static', filename='admin/assets/imgs/books.svg') }}" width="24px" height="24px" alt="books">
                    <p>Books</p>
                    <h3 class="text-color-4">{{countBooks}}</h3>
                </div>

                <div class="col-md mb-3">
                    <img src="{{ url_for('static', filename='admin/assets/imgs/users.svg') }}" width="24px" height="24px" alt="users">
                    <p>Users</p>
                    <h3 class="text-color-3">{{countUsers}}</h3>
                </div>

                <div class="col-md mb-3">
                    <img src="{{ url_for('static', filename='admin/assets/imgs/userRate.svg') }}" width="24px" height="24px" alt="books">
                    <p>New Ratings</p>
                <h3 class="text-color-2">1</h3>
                </div>




            </div>
        </div>
    </div>
</div>
{% endblock %}
