{% extends 'base.html' %}
{% block content %}
<!-- start of main-banner -->
<div class="main-banner bg-img-full section text-center" style="background-image: url(https://j.top4top.io/p_2452f9wnk1.png);" data-scroll-index="0">
	<div id="particles-js"></div>
	<div class="pad-top-md hidden-xs"></div>
	<div class="pad-bottom-lg"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="heading text-uppercase">Pole  
					<span id="rotating2" class="main-color">
						<span class="rotating-hold">
							<span data-out-effect="fadeOut" data-out-shuffle="true">Star</span> 
							<span data-out-effect="fadeOut" data-out-shuffle="true">AI Star</span> 
							<span data-out-effect="fadeOut" data-out-shuffle="true">Guider Star</span>
						</span>
					</span>
					<br>your Guider
				</h1>
				<span class="divider main-bg-color"></span>
				<p>an Artificial Intelligence Recommendation system for self-study material that directs the learner on a route <br>that will support his interests and promote the advantages of self-study</p>
				<a href="#" class="btn btn-default main-bg-color text-uppercase" data-scroll-nav="6">Get Started</a>
				<!-- <ul class="list-inline icons">
					<li><a href="#"><i class="fa fa-android" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-windows" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-apple" aria-hidden="true"></i></a></li>
				</ul> -->
			</div>
		</div>
	</div>
	<div class="pad-top-sm hidden-xs"></div>
	<div class="overlay"></div>
</div><!-- end of main-banner -->
	
</div>
<section class="pad-top-lg bg-secondary" data-scroll-index="1">
	<div class="container">
		<!-- main heading start here -->
		<header class="main-heading row">
			<div class="col-xs-12 col-sm-10 col-sm-push-1 col-lg-8 col-lg-push-2 text-center mar-bottom-md">
				<span class="subheading text-uppercase main-color">How can we improve your life?</span>
				<h2 class="heading">Services !</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
			</div>
		</header>
		<!-- main heading end here -->
		<div class="row mar-bottom-md">
			<div class="col-xs-12 col-sm-4">
				<!-- start of steps-box -->
				<div class="steps-box text-center mar-bottom-xs">
					<div class="icon-box main-color"><i class="fa fa-sliders" aria-hidden="true"></i></div>
					<h3 class="heading">Setup the App</h3>
					<span class="border main-bg-color"></span>
					<p>Friendly neighbour there that’s where we meet Sesame street! praese voluptatum deleniti sath atque. quos dolores et quas molestias.</p>
					<span class="bar hidden-xs"></span>
				</div><!-- end of steps-box -->
			</div>
			<div class="col-xs-12 col-sm-4">
				<!-- start of steps-box -->
				<div class="steps-box text-center mar-bottom-xs">
					<div class="icon-box main-color"><i class="fa fa-cogs" aria-hidden="true"></i></div>
					<h3 class="heading">Edit the App</h3>
					<span class="border main-bg-color"></span>
					<p>Friendly neighbour there that’s where we meet Sesame street! praese voluptatum deleniti sath atque. quos dolores et quas molestias.</p>
					<span class="bar hidden-xs"></span>
				</div><!-- end of steps-box -->
			</div>
			<div class="col-xs-12 col-sm-4">
				<!-- start of steps-box -->
				<div class="steps-box text-center mar-bottom-xs">
					<div class="icon-box main-color"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
					<h3 class="heading">Enjoy the App</h3>
					<span class="border main-bg-color"></span>
					<p>Friendly neighbour there that’s where we meet Sesame street! praese voluptatum deleniti sath atque. quos dolores et quas molestias.</p>
				</div><!-- end of steps-box -->
			</div>
		</div>
	</div>

</section>

<section class="pad-top-lg" data-scroll-index="2">
	<div class="container">
		<!-- main heading start here -->
		<header class="main-heading row">
			<div class="col-xs-12 col-sm-10 col-sm-push-1 col-lg-8 col-lg-push-2 text-center mar-bottom-md">
				<span class="subheading text-uppercase main-color">INTRODUCTION</span>
				<h2 class="heading">How it Work!</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
			</div>
		</header>
		<!-- main heading end here -->
		<div class="row mar-bottom-md">
			<div class="col-xs-12 col-sm-4">
				<!-- start of steps-box -->
				<div class="steps-box text-center mar-bottom-xs">
					<div class="icon-box main-color"><i class="fa fa-sliders" aria-hidden="true"></i></div>
					<h3 class="heading">Setup the App</h3>
					<span class="border main-bg-color"></span>
					<p>Friendly neighbour there that’s where we meet Sesame street! praese voluptatum deleniti sath atque. quos dolores et quas molestias.</p>
					<span class="bar hidden-xs"></span>
				</div><!-- end of steps-box -->
			</div>
			<div class="col-xs-12 col-sm-4">
				<!-- start of steps-box -->
				<div class="steps-box text-center mar-bottom-xs">
					<div class="icon-box main-color"><i class="fa fa-cogs" aria-hidden="true"></i></div>
					<h3 class="heading">Edit the App</h3>
					<span class="border main-bg-color"></span>
					<p>Friendly neighbour there that’s where we meet Sesame street! praese voluptatum deleniti sath atque. quos dolores et quas molestias.</p>
					<span class="bar hidden-xs"></span>
				</div><!-- end of steps-box -->
			</div>
			<div class="col-xs-12 col-sm-4">
				<!-- start of steps-box -->
				<div class="steps-box text-center mar-bottom-xs">
					<div class="icon-box main-color"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
					<h3 class="heading">Enjoy the App</h3>
					<span class="border main-bg-color"></span>
					<p>Friendly neighbour there that’s where we meet Sesame street! praese voluptatum deleniti sath atque. quos dolores et quas molestias.</p>
				</div><!-- end of steps-box -->
			</div>
		</div>
	</div>

</section>
<div class="grey-bg pad-top-lg pad-bottom-lg" data-scroll-index="3">
	<div class="container">
		<!-- main heading start here -->
		<header class="main-heading row">
			<div class="col-xs-12 col-sm-10 col-sm-push-1 col-lg-8 col-lg-push-2 text-center mar-bottom-md">
				<span class="subheading text-uppercase main-color">download App</span>
				<h2 class="heading">Get The Application Now!</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
			</div>
		</header><!-- main heading end here -->
		<div class="row mar-bottom-sm">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<!-- start of poitns -->
				<ul class="list-inline poitns">
					<li><i class="fa fa-check main-color" aria-hidden="true"></i> Responsive Design</li>
					<li><i class="fa fa-check main-color" aria-hidden="true"></i> Look great on any devices</li>
					<li><i class="fa fa-check main-color" aria-hidden="true"></i> Fresh Design</li>
					<li><i class="fa fa-check main-color" aria-hidden="true"></i> Great Support</li>
					<li><i class="fa fa-check main-color" aria-hidden="true"></i> Highest Speed</li>
					<li><i class="fa fa-check main-color" aria-hidden="true"></i> Useful and Intuitive Interface</li>
				</ul><!-- end of poitns -->
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="app-screen mar-bottom-xs" style="background-image: url(static/images/img14.png);">
					<img src="static/images/img15.jpg" alt="image description" class="magnify-image" data-magnify-src="static/images/img15-l.jpg">
				</div>
				<ul class="list-inline text-center">
					<li><a href="#"><img src="static/images/img16.png" alt="image description"></a></li>
					<li><a href="#"><img src="static/images/img17.png" alt="image description"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- start of test-section -> List of Books & Courses --> 
<div class="bg-img-full section test-section" data-scroll-index="3" style="background-image: url(http://placehold.it/1920x1200);" data-parallax-bg-img="static/images/img01.jpg" data-stellar-background-ratio="0.2">
	<span class="overlay"></span>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-push-1">
				<div class="pad-top-sm"></div>
				<div class="slider main-slider">
					<div class="slide text-center pad-top-lg pad-bottom-lg">
						<img src="http://placehold.it/100x100" alt="img" class="img-responsive main-border-color img">
						<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna do eiusmod tempor."</p>
						<strong class="main-color name text-capitalize">Founder - Ahmed Hamdy -</strong>
					</div>
					<div class="slide text-center pad-top-lg pad-bottom-lg">
						<img src="http://placehold.it/100x100" alt="img" class="img-responsive main-border-color img">
						<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna do eiusmod tempor."</p>
						<strong class="main-color name text-capitalize">Co Founder - Adnan Akram -</strong>
					</div>
					<div class="slide text-center pad-top-lg pad-bottom-lg">
						<img src="http://placehold.it/100x100" alt="img" class="img-responsive main-border-color img">
						<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna do eiusmod tempor."</p>
						<strong class="main-color name text-capitalize">CTO - Umair Razaq -</strong>
					</div>
				</div>
				<div class="pad-top-lg"></div>
			</div>
		</div>
	</div>
</div><!-- end of test-section -->
<!-- quote section start here -->
<section class="quote-section pad-top-lg pad-bottom-lg" data-scroll-index="5" style="background-color: white;">
	<span class="overlay"></span>
	<div class="container">
		<div class="row">
			<div class="col-cs-12 text-center">
				<span class="subtitle main-color text-uppercase">we are here for help you</span>
				<h2 class="heading">Metro App is the Best Solution for Your Business</h2>
				<button class="btn btn-default main-bg-color text-uppercase smooth" data-scroll-nav="3">Start now</button>
			</div>
		</div>
	</div>
</section><!-- quote section end here -->
<!-- Contact section start here -->
<section class="pad-top-lg pad-bottom-lg contact-section" data-scroll-index="6">
	<div class="container">
		<!-- main heading start here -->
		<header class="main-heading row">
			<div class="col-xs-12 col-sm-10 col-sm-push-1 col-lg-8 col-lg-push-2 text-center mar-bottom-md">
				<span class="subheading text-uppercase main-color">Say Hello</span>
				<h2 class="heading">Get In Touch</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
			</div>
		</header><!-- main heading end here -->
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
				<form id="contactForm" data-toggle="validator">
					<fieldset>
						<div class="form-group">
							<input type="text" id="name" placeholder="Your Name" class="form-control" required data-error="NEW ERROR MESSAGE">
						</div>
						<div class="form-group">
							<input type="email" id="email" placeholder="Your Email" class="form-control" required data-error="NEW ERROR MESSAGE">
						</div>
						<div class="form-group">
							<textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Your Message" required data-error="NEW ERROR MESSAGE"></textarea>
						</div>
						<div id="msgSubmit" class="form-message hidden"></div>
						<div class="text-center">
							<button class="btn btn-default main-bg-color text-uppercase" type="submit" id="form-submit">Send Message</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}
