{% extends 'base.html' %}
{% block content %}
<!-- start of main-banner -->
<div class="main-banner bg-img-full section text-center" style="background-image: url(https://j.top4top.io/p_2452f9wnk1.png);" data-scroll-index="0">
	<div id="particles-js"></div>
	<div class="pad-top-md hidden-xs"></div>
	<div class="pad-bottom-lg"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="heading text-uppercase">Pole  
					<span id="rotating2" class="main-color">
						<span class="rotating-hold">
							<span data-out-effect="fadeOut" data-out-shuffle="true">Star</span> 
							<span data-out-effect="fadeOut" data-out-shuffle="true">AI Star</span> 
							<span data-out-effect="fadeOut" data-out-shuffle="true">Guider Star</span>
						</span>
					</span>
					<br>your Guider
				</h1>
				<span class="divider main-bg-color"></span>
				<p>an Artificial Intelligence Recommendation system for self-study material that directs the learner on a route <br>that will support his interests and promote the advantages of self-study</p>
				<a href="#" class="btn btn-default main-bg-color text-uppercase" data-scroll-nav="1">Get Started</a>
			</div>
		</div>
	</div>
	<div class="pad-top-sm hidden-xs"></div>
	<div class="overlay"></div>
</div><!-- end of main-banner -->
	
</div>
<section class="pad-top-lg bg-secondary" data-scroll-index="1">
	<div class="container">
		<!-- main heading start here -->
		<header class="main-heading row">
			<div class="col-xs-12 col-sm-10 col-sm-push-1 col-lg-8 col-lg-push-2 text-center mar-bottom-md">
				<span class="subheading text-uppercase main-color">How can we improve your life?</span>
				<h2 class="heading">AI recommendations !</h2>
				<p>Discover your next journey with us </p>
			</div>
		</header>
		<!-- main heading end here -->
		<div class="row mar-bottom-md">
			<div class="col-xs-12 col-sm-4">
				<!-- start of steps-box -->
				<div class="steps-box text-center mar-bottom-xs">
					<div class="icon-box main-color"><i class="fa fa-book" aria-hidden="true"></i></div>
					<h3 class="heading">Learn more effectively</h3>
					<span class="border main-bg-color"></span>
					<p class="font-weight-bold">Discover and read more about the topics you are interested in</p>
					<span class="bar hidden-xs"></span>
				</div><!-- end of steps-box -->
			</div>
			<div class="col-xs-12 col-sm-4">
				<!-- start of steps-box -->
				<div class="steps-box text-center mar-bottom-xs">
					<div class="icon-box main-color"><i class="fa fa-spinner" aria-hidden="true"></i></div>
					<h3 class="heading">Speed up next step</h3>
					<span class="border main-bg-color"></span>
					<p class="font-weight-bold">Our System study and stimulate your interests and goals using our Artificial Intelligence model to craft your next step.</p>
					<span class="bar hidden-xs"></span>
				</div><!-- end of steps-box -->
			</div>
			<div class="col-xs-12 col-sm-4">
				<!-- start of steps-box -->
				<div class="steps-box text-center mar-bottom-xs">
					<div class="icon-box main-color"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
					<h3 class="heading">Enjoy your new journey</h3>
					<span class="border main-bg-color"></span>
					<p class="font-weight-bold">we guide you through your new journey of learning by recommending the best choices that suits your interests and encourages curiosity and motivate you to learn</p>
				</div><!-- end of steps-box -->
			</div>
		</div>
	</div>

</section>
<section class="quote-section pad-top-lg pad-bottom-lg" data-scroll-index="5" style="background-color: white;">
	<span class="overlay"></span>
	<div class="container">
		<div class="row">
			<div class="col-cs-12 text-center">
				<span class="subtitle main-color text-uppercase">Don't know your next step?</span>
				<h2 class="heading">How exciting!</h2>
				<a href="books"><button class="btn btn-default main-bg-color text-uppercase smooth">Start now</button></a>
			</div>
		</div>
	</div>
</section>

<section class="pad-top-lg" data-scroll-index="2">
	<div class="container">
		<!-- main heading start here -->
		<header class="main-heading row">
			<div class="col-xs-12 col-sm-10 col-sm-push-1 col-lg-8 col-lg-push-2 text-center mar-bottom-md">
				<span class="subheading text-uppercase main-color">INTRODUCTION</span>
				<h2 class="heading">How it Work!</h2>
				<p>small steps taken in the right direction can produce great results</p>
			</div>
		</header>
		<!-- main heading end here -->
		<div class="row mar-bottom-md">
			<div class="col-xs-12 col-sm-4">
				<!-- start of steps-box -->
				<div class="steps-box text-center mar-bottom-xs">
					<div class="icon-box main-color"><i class="fa fa-search" aria-hidden="true"></i></div>
					<h3 class="heading">Discover and Learn</h3>
					<span class="border main-bg-color"></span>
					<p class="font-weight-bold">Visit our gallery and read what interests you.</p>
					<span class="bar hidden-xs"></span>
				</div><!-- end of steps-box -->
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="steps-box text-center mar-bottom-xs">
					<div class="icon-box main-color"><i class="fa fa-star" aria-hidden="true"></i></div>
					<h3 class="heading">Rate</h3>
					<span class="border main-bg-color"></span>
					<p class="font-weight-bold">Rate what you Discovered and got your attention !.</p>
					<span class="bar hidden-xs"></span>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="steps-box text-center mar-bottom-xs">
					<div class="icon-box main-color"><i class="fa fa-bullseye" aria-hidden="true"></i></div>
					<h3 class="heading">Recommendations</h3>
					<span class="border main-bg-color"></span>
					<p class="font-weight-bold">Supported by our AI Model , Get the best Recommendations based on your interest.</p>
				</div>
			</div>
		</div>
	</div>

</section>
{% endblock %}
