		<!-- footer of the page start here -->
		<footer id="footer" class="dark-bg pad-top-xs pad-bottom-xs">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<p>2022 © Pole Star. All rights reserved.</p>
					</div>
					<div class="col-xs-12 col-sm-6">
						<ul class="list-inline text-right mt-social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer of the page end here -->
		<!-- Back Top of the page -->
	    <span id="back-top" class="fa fa-angle-up main-bg-color"></span>
	</div>


	<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.main.js') }}"></script>
	<script src="{{ url_for('static', filename='js/particles.js') }}"></script>	
