{% extends 'base.html' %}

{% block content %}
<div class="main-banner bg-img-full section text-center" style="background-color: white;color:black;" data-scroll-index="0">
	<div class="pad-top-md hidden-xs"></div>
	<div class="pad-bottom-lg"></div>
	<div class="container">
		<header class="main-heading row">
			<div class="col-xs-12 col-sm-10 col-sm-push-1 col-lg-8 col-lg-push-2 text-center mar-bottom-md">
                <img src="{{ url_for('static', filename='images/underStudy.png') }}">
				<span class="subheading text-uppercase main-color">Thank you for your Rating !</span>
				<h4>This Book is new in our Gallary and its Under Study by Our AI Model .</h4>
                <h4>We will provide Results Soon..</h4>
			</div>
		</header>


</div>
</div>

  
  
{% endblock %}

{% block scripts %}

{% endblock %}


