{% extends 'base.html' %}

{% block content %}
<div class="main-banner bg-img-full section text-center" style="background-color: white;color:black;">
	<div class="pad-top-md hidden-xs"></div>
	<div class="pad-bottom-lg"></div>
	<div class="container">

        <header class="main-heading row">
			<div class="col-xs-12 col-sm-10 col-sm-push-1 col-lg-8 col-lg-push-2 text-center mar-bottom-md">
				<span class="subheading text-uppercase main-color">Statistics</span>
				<h2 class="heading" style="color: black;">Pole Star Statistics</h2>
			</div>
		</header>

        <div>
            <h2 style="color:#272c3f">Average Rating per Book</h2>
            <canvas class="myChart" id="myChart"></canvas>
          </div>
          <br><br>
          <hr>
          <h2 style="color:#272c3f">Number of Users per Book</h2>

          <div>
            <canvas class="myChart2" id="myChart2"></canvas>
          </div>

        </div>


</div>
</div>

  
  
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const labels = [
    {% for book in books_rates %}
      '{{book[0]}}',
     {% endfor %}

    ];

    const data = {
      labels: labels,
      datasets: [{
        label: 'AI Data',
        borderColor: '#228C8D',
        data: [
        {% for book in books_rates %}
        
        {{book[2]}},
         
        {% endfor %}

        ],
      }]
    };
  
    const config = {
      type: 'line',
      data: data,
      options: {}
    };

    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script>

<script>

    const data2 = {
  datasets: [{
    label: 'AI Data',
    data: [
    {% for book in books_rates %}
         {
        x: {{book[1]}},
        y: {{book[2]}}
        }, 
        {% endfor %}
  

    ],
    backgroundColor: 'rgb(0,210,196)'
  }],
};
const config2 = {
  type: 'scatter',
  data: data2,
  options: {
    scales: {
      x: {
        type: 'linear',
        position: 'bottom'
      }
    }
  }
};


const myChart2 = new Chart(
      document.getElementById('myChart2'),
      config2
    );
</script>

{% endblock %}


